@charset "UTF-8";

/* html, body{
    width: 100%;
    height: 100%;
} */
/* * * * * #wrap * * * * */
#wrap{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    min-width: 1200px;
    /* border: 10px dashed transparent;
    border-image: linear-gradient(to bottom, #3423a6 0%, #171738 100%);
    border-image-slice: 1; */
}
/* * * * * #container * * * * */
#container{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid navy; */
}
/* * * * * header * * * * */
header{
    position: absolute;
    width: 500px;
    height: 100%;
    min-width: 300px;
    left: 0;
    /* border: 10px dashed transparent;
    border-image: linear-gradient(to bottom, #171738 0%, #3423a6 100%);
    border-image-slice: 1; */
    /* background-color: #171738; */
    z-index: 10;
    background-color: #fff;
}
h1{
    position: relative;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 20px;
    /* background-color: #333; */
}
h1 p{
    position: relative;
    margin: 0 auto;
    /* border:  1px solid #000; */
}
h1 .game_name p{
    font-family: "NeoE";
    font-weight: bold;
    font-size: 56px;
    padding: 50px 30px ;
    text-align: center;
}
h1 .game_name b{
    font-size: 84px;
}
h1 .team_name{
    position: absolute;
    top: 50px;
    right: 55px;
    padding: 5px;
    font-size: 0.8em;
    border: 1px solid #ccc;
    cursor: pointer;
    
}
h1 .our_name{
    top: -30px;
    padding: 0 40px;
    /* border: 1px solid navy; */
    font-style: italic;
}
h1 .our_name span{
    display: block;
    padding: 3px 0;
}


/* * * * * footer * * * * */
#footer{
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0;
    text-align: center;
}

/* * * * * nav * * * * */
nav{
    position: absolute;
    width: 160px;
    height: 100%;
    right: 0;
    /* background-color: #fff; */
    background-color: #e4f2ff;
    transition: 0.8s ease-in-out;
    z-index: 9;
    overflow: hidden;
}
nav.show{
    width: 300px;
}
nav .toggle{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 10;
}
nav .toggle .title{
    position: relative;
    text-align: center;
    font-family: "NeoD";
    line-height: 100px;
    letter-spacing: 0.3em;
}
nav .toggle span{
    position: absolute;
    display: block;
    width: 65px;
    height: 3px;
    left: 40px;
    border-radius: 3px;
    background-color: #333;
    transition: 0.3s ease-in-out;
}

nav .toggle span.toggle_bar1{
    top: 85px;
}
nav .toggle span.toggle_bar2{
    top: 100px;
}
.toggle:hover span.toggle_bar1{
    top: 83px;
}
.toggle:hover span.toggle_bar2{
    top: 102px;
}
.toggle.active span.toggle_bar1{
    transform: rotate(30deg);
    top: 90px;
}
.toggle.active span.toggle_bar2{
    transform: rotate(-30deg);
    top: 90px;
}

nav #menu{
    /* display: none; */
    position: relative;
    width: 300px;
    height: 100%;
}
#menu .navi{
    position: relative;
    width: 100%;
    /* height: 50%; */
    top: 30%;
    padding: 40px;
    align-self: flex-start;         /*체크*/

}
#menu .navi li a{
    display: block;
    padding: 30px 0 30px 20px;
    /* padding-left: 20px; */
    opacity: 0;
    transition: 0.6s ease-in-out;
    font-family: "NeoB";
    font-size: 1.2em;
    color: #333;
}
#menu .navi li a.show{
    opacity: 1;
    padding-left: 0;
}
#menu .navi li a.show:hover{
    padding-left: 10px;
    color: #999;                 /*색깔변경*/
}
/* 로그인 영역 */
nav #login{
    position: absolute;
    width: 280px;
    height: 200px;
    bottom: 0;
    left: 0;
    margin: 10px;
    background-color: transparent;
    z-index: 100;
    opacity: 0;
    transition: 0.6s ease-in-out;
}
nav #login.show{
    opacity: 1;
}
nav #login .button{
    position: relative;
    width: 160px;
    height: 50px;
    margin: 75px auto;
    border: 1px solid #999;
    border-radius: 2px;
    background-color: transparent;
    text-align: center;
    line-height: 48px;
    font-family: "NeoC";
    font-size: 1.2em;
    cursor: pointer;
    color: #333;
    transition: border 0.5s, box-shadow 0.5s, color 0.5s;
}
nav #login .button:hover{
    border: 1px solid #1c4b8d;
    /* box-shadow: 1px 1px 50px #c8dfff, -1px -1px 50px #c8dfff; */
    color: #1c4b8d;
}

/* * * * * #contents * * * * */
#contents{
    position: relative;
    width: 66%;
    height: 100%;
    left: 500px;
    background-color: #fff;
    /* border: 1px solid red; */
}
#contents .contents_in{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#contents .contents_in .opacity{
    position: absolute;
    /* border: 1px solid yellow; */
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, transparent 100% );
    z-index: 10;
}
#contents .contents_in img{
    position: relative;
    min-height: 700px;
    height: 100%;
    left: -20%;
}
