@charset "UTF-8";

#login_wrap{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    min-width: 1200px;
    background: linear-gradient(235.61deg, #112A4E 40%, #425672 60.62%, rgba(17, 42, 78, 0) 100%);
}

/* * * * * header * * * * */
header{
    position: relative;
    width: 500px;
    height: 100%;
    flex: 0 0 500px;
    z-index: 10;
    background-color: #fff;
}
h1{
    position: relative;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 20px;
}
h1 p{
    position: relative;
    margin: 0 auto;
}
h1 .game_name p{
    font-family: "NeoE";
    font-weight: bold;
    font-size: 56px;
    padding: 50px 30px ;
    text-align: center;
}
h1 .game_name b{
    font-size: 84px;
}
h1 .team_name{
    position: absolute;
    top: 50px;
    right: 55px;
    padding: 5px;
    font-size: 0.8em;
    border: 1px solid #ccc;
    cursor: pointer;
    
}
h1 .our_name{
    top: -30px;
    padding: 0 40px;
    font-style: italic;
}
h1 .our_name span{
    display: block;
    padding: 3px 0;
}

/* * * * * footer * * * * */
#footer{
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0;
    text-align: center;
}

/* * * * * login영역 * * * * */
#join_area{
    position: relative;
    /* width: 70%; */
    height: 100%;
    flex: 1 0 700px;
    margin: 0 auto;
}
#container{
    position: relative;
    width: 700px;
    height: 100%;
    margin: 0 auto;
    outline: 5px solid #fff;
    outline-offset: -20px;
}
/* USER LOGIN 타이틀 */
#container h2.title{
    position: absolute;
    width: 100%;
    padding: 30px 0;
    margin-top: 50px;
}
#container h2.title p{
    font-size: 50px;
    font-family: 'NeoE';
    color: #fff;
    text-align: center;
    /* letter-spacing: 5px; */
}
/* 회원가입 폼 영역*/
#join{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 300px;
}
/* 글씨색 설정 먼저 함 */
#join p label, #join p a{
    color: #fff;
}
#join .join_form_p{
    position: relative;
    margin: 00px auto 30px;
    width: 500px;
    height: 60px;
    border: 3px solid #aaa;
    border-radius: 40px;
    background-color: transparent;
}
#join .join_form_p label{
    display: inline-block;
    width: 120px;
    height: 54px;
    padding-left: 10px;
    text-align: center;
    line-height: 54px;
    /* background-color: red; */
    font-family: 'NeoC';
    font-size: 16px;
}
#join .join_form_p input{
    display: inline-block;
    width: 360px;
    height: 52px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
}
#join .join_form_p:has(input:focus){
    border: 3px solid #fff;
    transition: border 0.5s;
}
/* 약관 동의 영역 */
#checkbox{
    position: relative;
    top: -15px;
    width: 100%-200px;
    margin: 0 100px;
    /* background-color: navy; */
}
#checkbox .join_form_cb{
    padding: 15px 0;
    cursor: pointer;
}
#checkbox .line{
    position: relative;
    width: 100%;
    margin: 20px 0px 0px;
    border: 1px solid #fff;
    border-radius: 1px;
}
#checkbox .join_form_cb input + label{
    position: absolute;
    left: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
}
#checkbox .join_form_cb input:checked + label{
    background-color: #fff;
}
#checkbox .join_form_cb input{
    display: none;
}
#checkbox .join_form_cb label.cb_text, label.cb_all{
    position: absolute;
    left: 40px;
    height: 20px;
    line-height: 20px;
    
}
/* 회원가입하기 버튼 영역*/
#join .join_form_submit{
    position: relative;
    height: 100px;
    margin: 10px auto 0;
    /* border: 3px solid salmon; */
}
#join .join_form_btn{
    position: relative;
    margin: 20px 100px;
    width: 500px;
    height: 60px;
    border: 3px solid #aaa;
    border-radius: 40px;
    background-color: transparent;
    font-family: 'NeoC';
    font-size: 20px;
    color: #fff;
}
#join .join_form_btn:hover{
    border: 3px solid #fff;
    transition: border 0.5s;
}
