@charset "UTF-8";

/* html, body{
    width: 100%;
    height: 100%;
} */
/* * * * * #wrap * * * * */
#wrap{
    position: relative;
    width: 100%;
    height: 100vh;
}
/* * * * * #container * * * * */
#container{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid navy;
}
/* * * * * header * * * * */
header{
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0;
    border: 10px dashed transparent;
    border-image: linear-gradient(to bottom, #171738 0%, #3423a6 100%);
    border-image-slice: 1;
    /* background-color: #171738; */
    z-index: 10;
}
/* * * * * nav * * * * */
nav{
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
    /* background-color: #fff; */
    border-left: 10px dashed transparent;
    border-image: linear-gradient(to bottom, #3423a6 0%, #171738 100%);
    border-image-slice: 1;
    
    z-index: 10;
}
/* * * * * #contents * * * * */
#contents{
    position: relative;
    width: 65%;
    height: 100%;
    left: 25%;
    background-color: #fff;
    /* border: 1px solid red; */
}
#contents .contents_in{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#contents .contents_in .opacity{
    position: absolute;
    /* border: 1px solid yellow; */
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0  , 0.5) 0%, transparent 100% );
    z-index: 10;
}
#contents .contents_in img{
    position: relative;
    height: 100%;
    left: -20%;
}
/* * * * * footer * * * * */
footer{
    position: relative;
    width: 100%;
    height: 5%;
    text-align: center;
}