@charset "UTF-8";

html, body{
    width: 100%;
    height: 100%;
}
/* * * * * #wrap * * * * */
#wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
/* * * * * #container * * * * */
#container{
    position: relative;
    width: 100%;
    height: 95%;
    border: 1px solid navy;
}
/* * * * * #menu * * * * */
#menu{
    z-index: 10;
    position: absolute;
    width: 20%;
    height: 100%;
    border-right: 10px solid transparent;
    border-image: linear-gradient(to right, #2E1760 0%, #171738 100%);
    border-image-slice: 1;
}
/* * * * * #contents * * * * */
#contents{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, #23174c 0%, #23174c 25%, #2e1760 50%, #311d83 75%, #3423a6 100%);
    border-image-slice: 1;
}
/* * * * * footer * * * * */
footer{
    position: relative;
    width: 100%;
    height: 5%;
    text-align: center;
}